// varibale timing

//temps du fade in
//$anim-dur: 1s;
//$fade-in-dur: 3s;

//temps effet float
$anim-dur-float: 10s;

//variable animationTitre
$animTitre-dur: 2s;
$animTitre-delay: 1s;

//variable animationMenu
$menu-dur: 1s;

//variable effet d'apparition des sections
$anim-dur-section: 2s;